<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>社内Wiki - トップページ</title>
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
</head>
<body>
    <h1>社内Wikiへようこそ</h1>

<form action="/search" method="get">
    <input type="search" name="q" placeholder="キーワードで検索...">
    <button type="submit">検索</button>
</form>
<hr>
<a href="/new">新規ページ作成</a>
    <hr>
    <h2>ページ一覧</h2>
    <ul>
        {% for page in pages %}
            <li><a href="/page/{{ page['id'] }}">{{ page['title'] }}</a></li>
        {% else %}
            <li>まだページがありません。</li>
        {% endfor %}
    </ul>
</body>
</html>