{% extends 'layout.html' %}

{% block title %}
    トップページ - 社内Wiki
{% endblock %}

{% block content %}
    <form action="{{ url_for('search') }}" method="get">
        <input type="search" name="q" placeholder="キーワードで検索...">
        <button type="submit">検索</button>
    </form>
    <hr>
    <h2>ページ一覧</h2>
    <ul>
        {% for page in pages %}
            <li><a href="{{ url_for('view_page', page_id=page['id']) }}">{{ page['title'] }}</a></li>
        {% else %}
            <li>まだページがありません。</li>
        {% endfor %}
    </ul>
{% endblock %}